 <%= form_for [@chapter, @sub_chapter] do |f| %>
  <% if @sub_chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_chapter.errors.count, "error") %> prohibited this sub_chapter from being saved:</h2>

      <ul>
      <% @sub_chapter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :index %><br />
    <%= f.number_field :index %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_area :data %>
  </div>
  <div class="field">
    <%= f.label :chapter_id %><br />
    <%= f.select :chapter_id, @chapters.map {|c| [c.name, c.id]}, :prompt=>"--Належить до розділу--" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
