<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @sub_chapter.index %>
</p>

<p>
  <b>Name:</b>
  <%= @sub_chapter.name %>
</p>

<p>
  <b>Data:</b>
  <%= @sub_chapter.data %>
</p>

<p>
  <b>Chapter:</b>
  <%= @sub_chapter.chapter_id %>
</p>


<%= link_to 'Edit', edit_chapter_sub_chapter_path(@chapter, @sub_chapter) %> |
<%= link_to 'Back', chapter_sub_chapters_path(@chapter) %>
