<p id="notice"><%= notice %></p>
<%= render "shared/sidebar_edit" %>
<p>
  <b>Name:</b>
  <%= @chapter.name %>
</p>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Delete', @chapter, confirm: 'Are you sure?', method: :delete %>
